fastapi==0.115.11
fastapi_limiter==0.1.6
jose==1.0.0
locust>=2.0.0
pandas==2.2.3
passlib==1.7.4
plotly==6.0.0
pydantic==1.10.12
pytest==7.4.0
python-dotenv==1.0.1
python_jose==3.4.0
redis==4.5.0
Requests==2.32.3
SQLAlchemy==2.0.20
uvicorn[standard]
streamlit==1.42.2
prometheus-fastapi-instrumentator
